@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background-color: black;
  color: white;
}
header {
  transform: skewY(1deg);
  border-bottom: solid rgb(83, 83, 83);
}
.about {
  transform: skewY(-1deg);
  border-bottom: solid rgb(83, 83, 83);
}
.about-2,.about-1{
  transform: skewY(1deg);
  padding: 2%;
}
header .header-container-1 ,
header .header-container-2 ,
.projects  {
  transform: skewY(-1deg);
}
.projects{
  transform: skewY(2deg);
  border-bottom: solid rgb(83, 83, 83);
  padding: 2%;
}
.projects .project2{
  transform: skewY(-3deg);
}
#proj-head1{
  animation: blink 1s 1s infinite ;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
#title {
  border-right: 4px solid #00ffff; /* Creates the cursor effect */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowing text to simulate typing */
  
  animation: typing 0.5s infinite step-end, type 5s steps(17) infinite forwards; /* Steps adjusted to match 17 characters */
  text-transform: capitalize;
}

@keyframes typing {
  50% {
    border-color: transparent; /* Blinks the cursor */
  }
}

@keyframes type {
  0% {
    width: 0%; 
  }
  100% {
    width: 33vw; 
  }
}

#container:hover ul,#container:hover div{
  opacity: .5;
  filter: blur(3px);
}
#container ul:hover,#container div:hover{
  opacity: 1;
  filter: blur(0px);
}
.chat-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
  border-radius: 50px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #00ffff; /* Color of the scrollbar thumb */
  border-radius: 50px; /* Rounded corners */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background: #008c8c; /* Darker color on hover */
}

/* For Firefox */
.chat-container {
  scrollbar-width: thin; /* Options: auto | thin */
  scrollbar-color: #00ffff transparent; /* thumb color and track color */
}