@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background-color: black;
  color: white;
}
#proj-head1{
  animation: blink 1s 1s infinite ;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
#title {
  border-right: 4px solid #00ffff; /* Creates the cursor effect */
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowing text to simulate typing */
  max-width: max-content;
  animation: typing 0.5s infinite step-end, type 5s steps(17) infinite forwards; /* Steps adjusted to match 17 characters */
  text-transform: capitalize; 
}

@keyframes typing {
  50% {
    border-color: transparent; /* Blinks the cursor */
  }
}

@keyframes type {
  0% {
    width: 0%; 
  }
  100% {
    width: 450px; 
  }
}

#container:hover ul,#container:hover div{
  opacity: .5;
  filter: blur(3px);
}
#container ul:hover,#container div:hover{
  opacity: 1;
  filter: blur(0px);
}
.chat-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.chat-container::-webkit-scrollbar-track {
  background: transparent; /* Make track transparent */
  border-radius: 50px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #00ffff; /* Color of the scrollbar thumb */
  border-radius: 50px; /* Rounded corners */
}

.chat-container::-webkit-scrollbar-thumb:hover {
  background: #008c8c; /* Darker color on hover */
}

/* For Firefox */
.chat-container {
  scrollbar-width: thin; /* Options: auto | thin */
  scrollbar-color: #00ffff transparent; /* thumb color and track color */
}
@media screen and (max-width: 640px) {
  .contact-container{
    display: block;
    width: 100%;
  }
  #contact{
    padding: 1%;
  }
  .child-1{
    width: 90%;
    padding:3% ;
    margin: auto;
  }
  input{
    width: 100%;
  }
  #proj-head1{
    font-size: 6vw;
  }
  h3{
    margin-top: 3%;
    margin-bottom: 2%;
  }
  .child-2{
    width: 90%;
    margin: auto;
    height: 70vw;
    margin: 3%;
  }
  .projects-container{
    display: block;
  }
  .projects-container .projects{
    width: 60%;
  }
  .projects-container .projects h3{
    font-size: 4vw;
  }
  .projects-container .projects details{
    font-size: 3vw;
  }
  .about{
    display: block;
  }
  .about .edu-1 ul ,
  .about .edu-2 ul {
    height: max-content;
  }
  .about-1,.about-2{
    width: 90%;
    margin: auto;
    padding: 3%;
  }
  .about p{
    font-size: 2.6vw;
  }
  .about-1 li , .about-2 h4{
    font-size: 2.6vw;
  }
  .header{
    display: block;
    width: 100%;
    padding: 5%;
  }
  .header-container-1{
    width: 90%;
    margin: auto;
  }
  .header-container-1 h1{
    font-size: 6vw;
  }
  .header-container-1 button{
    font-size: 2vw;
  }
  .header-container-2 {
    width: 40%;
    height: 40vw;
    margin: auto;
  }
}
@media (min-width: 628px) {
  .custom-md\:hidden {
    display: none;
  }

  .custom-md\:flex {
    display: flex;
  }
}


